@import 'tailwindcss';

@theme {
	--color-primary: #fe0000;
	--color-primary-black: #050009;
	--font-nunito: Nunito, sans-serif;
}

@layer utilities {
	.scrollbar-hide {
		/* For Firefox */
		scrollbar-width: none;

		/* For Internet Explorer and Edge */
		-ms-overflow-style: none;
	}

	.scrollbar-hide::-webkit-scrollbar {
		/* For Chrome, Safari, and Opera */
		display: none;
	}
}

@layer base {
	html {
		font-family: 'Nunito', sans-serif;
	}
}
@keyframes infinite-carousel {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}

@layer utilities {
	.animate-infinite-carousel {
		animation: infinite-carousel 10s linear infinite;
	}
}
